/* Add screen styles below */
body{
    background-color: #FFF5F9;
    font-family: 'Roboto Mono';
    font-size: 22px;
    margin: 10%;
    padding: 20%;
    color: black;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-around{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile{
    border-radius: 400px;
    width: 40%;
}

.connect{
    width: 30px;
}